<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ajax exercice</title>

      <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			  crossorigin="anonymous">
      </script>
    <script src="interface.js"></script>
  </head>
  <body>
    <button id="fetch">Fetch friends</button>

    <table id="friends">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>
