<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ajax exercice</title>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous">
      </script>
      <script src="{{ url_for("static", filename="js/interface.js") }}"></script>
  </head>
  <body>
    <button id="fetch">Fetch friends</button>

    <table id="friends">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>
